@charset "utf-8";
/* CSS Document */
body {
	padding: 10px;
}
header {
	width: 1000px;
	height: 180px;
	border: 5px solid #ccc;
	padding: 10px;
	position: relative;
	margin-bottom: 10px;
}
	nav {
		position: absolute;
		bottom: 10px;
	}
		ul li {
			width: 186px;
			height: 80px;
			border: 5px solid #ccc;
			float: left;
			margin-right: 10px; 
		}
		ul li:last-child {
			margin-right: 0;
		}
.content {
	width: 1000px;
	border: 5px solid #ccc;
	padding: 70px 10px 10px 10px;
	margin-bottom: 10px;
}
	.box1 {
		width: 480px;
		height: 90px;
		border: 5px solid #ccc;
		float: left;

	}
	.box2 {
		width: 480px;
		height: 90px;
		border: 5px solid #ccc;
		float: right;
	}
.boxs{
	margin-bottom: 10px;
}
.box3{
	width: 970px;
	height: 90px;
	border: 5px solid #ccc;
}
footer {
	width: 1000px;
	height: 100px;
	border: 5px solid #ccc;
}
