@charset "utf-8";
/* CSS Document */
body{
	padding: 10px;
}
header{
	width: 1000px;
	height: 170px;
	position: relative;
	border: 5px solid #ccc; 
	margin-bottom: 10px;
}
ul{
	position: absolute;
	right: 10px;
	bottom: 10px;
}
li{
	width: 100px;
	height: 80px;
	border: 5px solid #ccc; 
	float: left;
	margin-right: 10px;
	list-style-type: none;
}
li:last-child{ 
	margin-right: 0;
}
.content{
	width: 1000px;
	border: 5px solid #ccc;
	padding: 70px 10px 10px 10px;
	margin-bottom: 10px;
}
.box1{
	width: 480px;
	height: 90px;
	border: 5px solid #ccc;
	float: left;
}
.box2{
	width: 480px;
	height: 90px;
	border: 5px solid #ccc;
	float: right;
}
footer{
	width: 1000px;
	height: 100px;
	border: 5px solid #ccc;
}