@charset "utf-8";
/* CSS Document */
body{
	padding: 10px;
}
header{
	width: 1000px;
	height: 180px;
	border: 5px solid #ccc;
	padding: 10px;
	position: relative;
	margin-bottom:10px;
}
nav{
	position: absolute;
	bottom: 10px;
}
ul li{
	width: 186px;
	height: 80px;
	border: 5px solid #ccc;
	float: left;
	margin-right: 10px;
}
ul li:last-child{
	margin-right: 0;
}

.content{
	width: 1000px;
	margin-bottom: 10px;
	padding: 70px 10px 10px 10px;
	border: 5px solid #ccc;
}
.box1{
	width: 480px;
	height: 90px;
	border: 5px solid #ccc;
	float:left;
	margin-bottom: 10px;
}
.box2{
	width: 480px;
	height: 90px;
	border: 5px solid #ccc;
	float: right;
	margin-bottom: 10px;
}
.boxs{
	clear: both;
	padding: 40px 10px 10px 10px;
	width: 970px;
	border: 5px solid #ccc;
}
.box3{
	width: 465px;
	height: 80px;
	border: 5px solid #ccc;
	float: left;
	margin-bottom: 10px;
}
.box4{
	width: 465px;
	height: 80px;
	float: right;
	border: 5px solid #ccc;
	margin-bottom: 10px;
}
.box5{
	clear: both;
	width: 940px;
	height: 80px;
	border: 5px solid #ccc;
}

footer{
	width: 1000px;
	height: 100px;
	border: 5px solid #ccc;
}