@charset "utf-8";
/* CSS Document */
body{
	padding: 10px;
}
header{
	width: 1000px;
	height: 100px;
	border: 5px solid #ccc;
	margin-bottom: 10px;
}
.content{
	width: 1000px;
	overflow:hidden;
	border: 5px solid #ccc;
	padding: 70px 10px 10px 10px;
}
.box1{
	width: 480px;
	height: 90px;
	float: left;
	border: 5px solid #ccc;
}
.box2{
	width: 480px;
	height: 90px;
	float: right;
	border: 5px solid #ccc;
}
footer{
	width: 1000px;
	height: 100px;
	border: 5px solid #ccc;
	margin-top: 10px;
}
