/* Scss Document */
 
@mixin border1{
	border: 1px solid #000;
}
@mixin border2{
	border: 2px solid #000;
}
@mixin border3{
	border: 5px solid #000;
}

body{
	width: 940px;
	padding: 10px;
}

//////////header////////
header{
	width: 920px;
	@include border3;
	position: relative;
	padding: 10px;
	margin-bottom: 20px;
	.box0{
		width: 100px;
		height: 100px;
		@include border1;
		float: left;
	}
	.big-box1{
		width: 250px;
		float: right;
		.box1{
			width: 130px;
			height: 40px;
			border: 1px solid #000;
			float: left;
			margin-bottom: 10px;
		}
		.box2{
			width: 100px;
			height: 40px;
			border: 1px solid #000;
			float: right;
			margin-bottom: 10px;
		}
		.box3{
			clear: both;
			width: 250px;
			height: 50px;
			border: 1px solid #000;
		}
	}
}

///////////nav////////
.nav{
	list-style-type: none;
	border: 5px solid #000;
	width: 920px;
	margin-bottom: 20px;
	li{
		float: left;
		height: 50px;
		width: 130px;
		border-right: 2px solid #000;
		&:last-child{
			border-right: none;
		}
	}
}
////////main/////////
.content{
	.left{
		width: 450px;
		border: 5px solid #000;
		padding-top: 50px;
		float: left;
		margin-bottom: 20px;
		.sec{
			border-top: 1px solid #000;
			padding: 10px;
			.top{
				margin-bottom: 10px;
				border-bottom: 1px solid #000;
				padding-bottom: 10px;
				.box4{
					width: 100px;
					height: 100px;
					border: 1px solid #000;
					float: left;
				}
				.box5{
					width: 310px;
					height: 100px;
					border: 1px solid #000;
					float: right;
				}
			}
			.middle{
				margin-bottom: 10px;
				.middle1{
					width: 221px;
					padding-right: 10px;
					border-right: 1px solid #000;
					margin-right: 10px;
					float: left;
					.box6{
						width: 100px;
						height: 150px;
						border: 1px solid #000;
						float: left;
					}
					.box7{
						width: 100px;
						height: 150px;
						border: 1px solid #000;
						float: right;
					}
				}
				.middle2{
					float: right;
					.box8{
						width: 189px;
						height: 70px;
						border: 1px solid #000;
						margin-bottom: 10px;
					}
					.box9{
						width: 189px;
						height: 70px;
						border: 1px solid #000;
					}
				}
			}
			.bottom1{
				padding: 10px;
				border: 5px solid #000;
				.box10{
					width: 190px;
					height: 190px;
					border: 1px solid #000;
					float: left;
				}
				.box11{
					width: 190px;
					height: 190px;
					border: 1px solid #000;
					float: right;
				}
			}
		}
	}
	.right{
		width: 450px;
		padding: 10px;
		border: 5px solid #000;
		float: right;
		margin-bottom: 20px;
		ul{
			margin-bottom: 20px;
			float: left;
			li{
				width: 150px;
				height: 100px;
				border: 1px solid #000;
				margin-bottom: 10px;
				list-style-type: none;
				&:last-child{
					margin-bottom: 0;
				}
			}	
		}
		.side{
			width: 250px;
			height: 320px;
			border: 1px solid #000;
			margin-bottom: 20px;
			float: right;
		}
		.bottom2{
			clear: both;
			width: 420px;
			height: 100px;
			border: 1px solid #000;
		}
	}
}
//////////footer/////////
footer{
	clear: both;
	width: 920px;
	padding: 10px;
	border: 5px solid #000;
	ul{
		width: 430px;
		margin: 0 auto 10px auto;
		li{
			list-style-type: none;
			width: 100px;
			height: 50px;
			border: 1px solid #000;
			float: left;
			margin-right: 10px;
			&:last-child{
				margin-right: 0;
			}
		}
	}
	.box12{
		width: 700px;
		margin: 0 auto 0 auto;
		height: 50px;
		border: 1px solid #000;
		
	}
}