/* Scss Document */
body {
  width: 940px;
  padding: 10px; }

header {
  width: 920px;
  border: 5px solid #000;
  position: relative;
  padding: 10px;
  margin-bottom: 20px; }
  header .box0 {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    float: left; }
  header .big-box1 {
    width: 250px;
    float: right; }
    header .big-box1 .box1 {
      width: 130px;
      height: 40px;
      border: 1px solid #000;
      float: left;
      margin-bottom: 10px; }
    header .big-box1 .box2 {
      width: 100px;
      height: 40px;
      border: 1px solid #000;
      float: right;
      margin-bottom: 10px; }
    header .big-box1 .box3 {
      clear: both;
      width: 250px;
      height: 50px;
      border: 1px solid #000; }

.nav {
  list-style-type: none;
  border: 5px solid #000;
  width: 920px;
  margin-bottom: 20px; }
  .nav li {
    float: left;
    height: 50px;
    width: 130px;
    border-right: 2px solid #000; }
    .nav li:last-child {
      border-right: none; }

.content .left {
  width: 450px;
  border: 5px solid #000;
  padding-top: 50px;
  float: left;
  margin-bottom: 20px; }
  .content .left .sec {
    border-top: 1px solid #000;
    padding: 10px; }
    .content .left .sec .top {
      margin-bottom: 10px;
      border-bottom: 1px solid #000;
      padding-bottom: 10px; }
      .content .left .sec .top .box4 {
        width: 100px;
        height: 100px;
        border: 1px solid #000;
        float: left; }
      .content .left .sec .top .box5 {
        width: 310px;
        height: 100px;
        border: 1px solid #000;
        float: right; }
    .content .left .sec .middle {
      margin-bottom: 10px; }
      .content .left .sec .middle .middle1 {
        width: 221px;
        padding-right: 10px;
        border-right: 1px solid #000;
        margin-right: 10px;
        float: left; }
        .content .left .sec .middle .middle1 .box6 {
          width: 100px;
          height: 150px;
          border: 1px solid #000;
          float: left; }
        .content .left .sec .middle .middle1 .box7 {
          width: 100px;
          height: 150px;
          border: 1px solid #000;
          float: right; }
      .content .left .sec .middle .middle2 {
        float: right; }
        .content .left .sec .middle .middle2 .box8 {
          width: 189px;
          height: 70px;
          border: 1px solid #000;
          margin-bottom: 10px; }
        .content .left .sec .middle .middle2 .box9 {
          width: 189px;
          height: 70px;
          border: 1px solid #000; }
    .content .left .sec .bottom1 {
      padding: 10px;
      border: 5px solid #000; }
      .content .left .sec .bottom1 .box10 {
        width: 190px;
        height: 190px;
        border: 1px solid #000;
        float: left; }
      .content .left .sec .bottom1 .box11 {
        width: 190px;
        height: 190px;
        border: 1px solid #000;
        float: right; }
.content .right {
  width: 450px;
  padding: 10px;
  border: 5px solid #000;
  float: right;
  margin-bottom: 20px; }
  .content .right ul {
    margin-bottom: 20px;
    float: left; }
    .content .right ul li {
      width: 150px;
      height: 100px;
      border: 1px solid #000;
      margin-bottom: 10px;
      list-style-type: none; }
      .content .right ul li:last-child {
        margin-bottom: 0; }
  .content .right .side {
    width: 250px;
    height: 320px;
    border: 1px solid #000;
    margin-bottom: 20px;
    float: right; }
  .content .right .bottom2 {
    clear: both;
    width: 420px;
    height: 100px;
    border: 1px solid #000; }

footer {
  clear: both;
  width: 920px;
  padding: 10px;
  border: 5px solid #000; }
  footer ul {
    width: 430px;
    margin: 0 auto 10px auto; }
    footer ul li {
      list-style-type: none;
      width: 100px;
      height: 50px;
      border: 1px solid #000;
      float: left;
      margin-right: 10px; }
      footer ul li:last-child {
        margin-right: 0; }
  footer .box12 {
    width: 700px;
    margin: 0 auto 0 auto;
    height: 50px;
    border: 1px solid #000; }
