/* Scss Document */

body{
	padding: 10px;
}
header{
	width: 1000px;
	height: 100px;
	border: 5px solid #ccc; 
	margin-bottom: 10px;
}
.content{
	width: 1000px;
	padding: 70px 10px 10px 10px;
	border: 5px solid #ccc;
	margin-bottom: 10px;
	.sec1{
		width: 380px;
		padding: 10px; 
		border: 5px solid #ccc;
		float: left;
		.box{
			width: 350px;
			height: 80px;
			border: 5px solid #ccc;
		}
		.box:first-child{
			margin-bottom: 10px;
		}
	} 
	.sec2{
		width: 580px;
		padding: 10px;
		border: 5px solid #ccc;
		float: right;
		margin-bottom: 10px;
		.box2{
			width: 270px;
			height: 80px;
			float: left;
			border: 5px solid #ccc;
			margin-right: 10px;
			margin-bottom: 10px;
		}
		.box3{
			width: 270px;
			height: 80px;
			float: right;
			border: 5px solid #ccc;
			margin-bottom: 10px;
		}
		.box4{
			clear: both;
			width: 550px;
			height: 80px;
			border: 5px solid #ccc;
		}
	}
	.sec3{
		clear: both;
		margin-bottom: 10px;
		li{
			list-style-type: none;
			width: 186px;
			height: 80px;
			border: 5px solid #ccc;
			float: left;
			margin-right: 10px;
			&:last-child{
				margin-right: 0;
			}
		}
	}
	.sec4{
		clear: both;
		width: 970px;
		height: 80px;
		border: 5px solid #ccc;
	}
} 
footer{
	width: 1000px;
	height:100px;
	border: 5px solid #ccc;
}